* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden; 
    margin: 0;
    padding: 0;
    background: linear-gradient(#009efd, #2af598); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header {
    position: relative; 
    width: 100%;
    padding: 20px 0; 
    text-align: center;
}

h1 {
    color: #000000;
    margin: 20px 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 260px); 
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.chatbox {
    width: 60%;
    height: 50%;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: left; 
    word-wrap: break-word; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

#audioPreview {
    width: 60%;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.bottom-section {
    height: 170px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 10px 0;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: all 0.5s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #0056b3;
}

.info {
    font-size: 17px;
    color: #3f3b3b;
    margin-top: 10px;
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    z-index: 100;
    max-width: 99.1px;
    width: 100%;
}

.home-button:hover {
    background-color: #ffffff;
    color: black;
    transform: scale(1.1);
}