<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle Speech to Text</title>
    <link rel="stylesheet" href="{{url_for('static', filename='whisperstyles.css')}}"/>
</head>
<body>  
    <header> 
    <button class="home-button" data-url="{{ url_for('textindex') }}">🏠 Home</button>
    <h1 id="header">Eagle Speech-to-Text</h1>
    </header>
    <section class="main">
        <div class = "chatbox" id="result"></div>
        <div id="audioPreview"></div>
    </section>
        <div class="bottom-section">
            <div class="input-container">                 
                <input type="file" id="audioFile" accept=".mp3,.wav,.flac,.m4a,.mp4,.mpeg,.mpga,.oga,.ogg,.webm" required placeholder="Insert Audio Here"/>
                <button id="transcribeButton">Transcribe</button>
                </div>
                <p class="info">EagleGPT can make mistakes. Please use with discretion.</p>
        </div>
        
    
    <script src="{{url_for('static',filename='whisperapp.js')}}"></script>
</body>
</html>